@font-face {
    font-family: "Hind";
    src: url("../fonts/hind-regular-webfont.woff2") format("woff"),
        url("../fonts/hind-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/crimsontext-regular-webfont.woff2") format("woff"),
        url("../fonts/crimsontext-regular-webfont.woff2") format("woff2");
}